.coder_club_path_title{
    font-family: 'Khand';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 46px;
    letter-spacing: 0.095em;
    color: #706f6f;
    opacity: 0.58;    
}

.coder_club_path_subtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #acabab;
    margin-top: 2rem;
    width: 30rem;
    text-align: justify;
    letter-spacing: 0.1em;
    
}


.slide_up_section{
    opacity: 0;
    transition: opacity 400ms ease-in;    
}

.slide_up_section.appear{

    opacity: 1;
}